@import "./vars.scss";

// Main Layout
.ant-layout {
  background: $white;

  .ant-layout-content {
    padding: 25px;
  }
}

.login-form-button {
  float: right;
  color: $white;
  background-color: $green;
  width: 50%;
}

.login-form-button:hover {
  background-color: $green;
}

.kep-login-facebook {
  padding: 10px !important;
  border-radius: 2px !important;
  border: 1px solid transparent !important;
  font-weight: normal !important;
  text-transform: none !important;
}

.ant-layout-header {
  padding-left: 25px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
  z-index: 101;

  .logo {
    flex: 0 0 175px;
    max-width: 175px;
    min-width: 1;
    width: 1;
    img {
      width: auto;
    }
  }
}
