$white: #fff;

$primary: #1890ff;
$secondary: #40a9ff;

$purple: #722ed1;
$light-purple: #d3adf7;
$mid-purple: #b37feb;

$green: #389e0d;
$light-green: #b7eb8f;
$mid-green: #95de64;

$borderLight: 1px solid rgba(0,0,0, 0.05);
